<!-- Base href - specifies the base URL/target for all relative URLs in this document -->
%BASE_HREF%


    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
<!--    <link href="css/dataTables.bootstrap.css" rel="stylesheet">  -->
<link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/fixedheader/3.1.1/css/fixedHeader.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/colreorder/1.3.1/css/colReorder.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/rowreorder/1.1.1/css/rowReorder.dataTables.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div class="container-fluid">

      <h2>Documentos CT163 %REMESSA% </h2>

      <p>Pode navegar pelos indíces das várias remessas [ %INDICE_REM% ] assim como aceder directamente aos documentos</p>

      <p>Para aceder ao indíce geral dos documentos CT163, clique <a href='index_body.html'>aqui</a>.</p>

      <p><strong>Nota: A remessa <a href='1475_1/index_body.html'>1475_1</a> contém os documentos respeitantes ao 28th SC 27 Plenary, Tampa, April 2016</strong></p>


      <div id='table-container'></div>

    </div><!-- /.container -->

    <footer class='footer'>
      <div class='container-fluid'>
        <hr />
        <p class='pull-right'><a href='https://gitlab.com/devisefutures/ISO2csv'>ISO2csv</a> by <a href='https://devisefutures.com'>Devise Futures</a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.csv.min.js"></script>
<!--    <script src="js/jquery.dataTables.min.js"></script>  -->
<!--    <script src="js/dataTables.bootstrap.js"></script>  -->
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.1/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.3.1/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.1.1/js/dataTables.rowReorder.min.js"></script>
    <script src='/js/csv_to_html_table.js'></script>


    <script>
      init_table({
       // csv_path: 'total.csv',
%CSV_PATH%
        element: 'table-container',
        allow_download: true,
        csv_options: {separator: ';', delimiter: '"'},
        datatables_options: {"paging": true, "ordering": true, "processing": true,  "pagingType": "full_numbers",
			"lengthMenu": [ [20, 50, 90, -1], [20, 50, 90, "All"] ], "pageLength": 20, "dom": 'lfrptip',
			"autoWidth": false, "order": [],
			"columnDefs": [
    					{ "width": "50px", "targets": 0 },
    					{ "width": "50px", "targets": 1 },
    					{ "width": "50px", "targets": 2 },
    					{ "width": "250px", "targets": 3 },
    					{ "width": "90px", "targets": 4 },
    					{ "width": "130px", "targets": 5 },
    					{ "width": "50px", "targets": 6 },
    					{ "width": "50px", "targets": 7 },
    					{ "width": "90px", "targets": 8 },
    					{ "width": "150px", "targets": 9 },
    					{ "width": "100px", "targets": 10 },
  				      ],
			fixedHeader: { header: true, footer: false },
			rowReorder: false,
			colReorder: true
			}
      });
    </script>
  </body>
</html>
